* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

/* SECTION ONE */
/* HEADER & HERO */

.section-one {
    background-color: #faa300;  
    padding-left: 200px;
    padding-right: 200px;
}

.header {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    color: #591f0a;
}

ul {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    font-size: 18px;
    gap: 45px;
    color: #591f0a;
}

.header-right a:link {
    text-decoration: none;
    color: #591f0a;
}

.header-right a:visited {
    color:#591f0a;
}

.header-right a:hover {
    color:#854d27;
}

.header-right a:active {
    color: #591f0a;
}

.hero {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-left h1 {
    font-size: 48px;
    color: #591f0a;
    font-weight: 900;
    max-width: 500px;
}

.hero-left p {
    font-size: 18px;
    color:#854d27;
    max-width: 675px;
}

.hero-right img {
    height: 450px;
    width: auto;
    max-width: 100%;
    border-radius: 1%
}


.sign-up-container {
    margin-top: auto;
    height: auto;
    width: 57px;
    padding: 10px 35px 10px 35px;
    background-color: #fe4e00;
    color: #591f0a;
    font-weight: 900;
    border-radius: 7%;
    border: 2px solid black ;
}

.sign-up-container .sign-up a:link {
    color: #591f0a;
    text-decoration: none;
}

.sign-up-container .sign-up a:visited {
    color:#591f0a;
}

.sign-up-container .sign-up a:hover {
    color:white;
}

.sign-up-container .sign-up a:active {
    color:#591f0a;
}

/* SECTION TWO */



